*{
    margin: 0;
    
}

.Navbar{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    z-index: 10;
    font-size: 17px;
}
.leftsection{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    white-space: nowrap;
}
.leftsection:hover{
    color:  rgb(83, 94, 225) ;

}
.centersection{
    width: 45%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
    align-items: center;
   
    margin-left: 150px;
    white-space: nowrap;
}
.rightsection{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 0px;
    cursor: pointer;
}
.rightsection:hover{
    color:  rgb(83, 94, 225)  ;
}
.navkeys{
    color: black;
    cursor: pointer;
}
.navkeys:hover{
 color:rgb(83, 94, 225)  

}

/* ============================================================================================================== */

@media (max-width:768px) {

    
    .leftsection{
        width: 30%;
        margin-left: 60px;
        font-size: 15px;
    }   
    .centersection{
        width: 60%;
        margin-left: 50px;
        font-size: 13px;
        display: flex;
        justify-content: end;
        gap: 20px;
        
       
    }
    .rightsection{
        width: 10%;
        font-size: 13px;
        margin-left: 20px;
       
    }

}

@media only screen and (max-width: 1330px) and (min-width: 769px) {
    .leftsection{
        width: 30%;
        margin-left: 20px;
        font-size: 17px;
    }   
    .centersection{
        width: 60%;
        margin-left: 50px;
        font-size: 15px;
        display: flex;
        justify-content: end;
        gap: 30px;
        
       
    }
    .rightsection{
        width: 10%;
        font-size: 15px;

        margin-left: 20px;
       
    }
}
@media (max-width: 660px) {
    .centersection,.rightsection{
        display: none;
    }
}