#container3 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* height: 80vh; */
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 150px;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tech {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(78, 72, 72);
}

summary,
ul {
    list-style: none;

}

details[open] i.fa-arrow-up {
    transform: rotate(180deg);
}

summary i.fa-arrow-up {
    transition: 0.2s ease;
}

li {
    margin-top: 40px;
}

.skillmain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 70px;
    gap: 150px;
}

.drp1 {
    font-size: 23px;
    cursor: pointer;
}

.drp2 {
    font-size: 23px;
    cursor: pointer;
}

.pgrm-lng {
    transition: 1s ease;
}

/* =============================================================================================================== */

@media(max-width:768px) {
    .skillmain {

        gap: 75px;

        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1330px) and (min-width: 769px) {
    .skillmain {

        gap: 95px;
    }

    .drp1,
    .drp2 {
        font-size: 21px;
    }
}

@media (max-width:630px) {
    .skillmain {
        gap: 65px;
        flex-direction: column;

    }

    .drp1,
    .drp2 {
        font-size: 18px;
    }

}

@media (max-width:500px) {
    .skillmain {
        gap: 50px;
    }

    .drp1,
    .drp2 {
        font-size: 16px;
    }
}

@media (max-width: 420px) and (min-width: 320px) {
    .skillmain {
        gap: 40px;
    }

    .drp1,
    .drp2 {
        font-size: 14px;
    }

}